# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Quant Data & Output
*.png
*.pkl
data/df_composite.parquet

# IDE / OS
.DS_Store
.vscode/
.idea/
